<footer class="footer">
  <ul class="footer__smedia">
    <li class="footer__smedia-item">
      <a href="#" title="Icono Facebook"
        ><i class="fa-brands fa-facebook fa-2x"></i
      ></a>
    </li>
    <li class="footer__smedia-item">
      <a href="#" title="Icono Instagram"
        ><i class="fa-brands fa-instagram fa-2x"></i
      ></a>
    </li>
    <li class="footer__smedia-item">
      <a href="#" title="Icono X"
        ><i class="fa-brands fa-x-twitter fa-2x"></i
      ></a>
    </li>
    <li class="footer__smedia-item">
      <a href="#" title="Icono Youtube"
        ><i class="fa-brands fa-youtube fa-2x"></i
      ></a>
    </li>
  </ul>
  <a class="footer__logo" href="index.html">
    <img
      class="footer__logo-img"
      src="/src/assets/images/logo-white.png"
      alt="Logotipo del Plato de Mataró"
      srcset="
        /src/assets/images/logo-white.png?width=160 1x,
        /src/assets/images/logo-white.png?width=320 2x,
        /src/assets/images/logo-white.png?width=500 3x
      "
      width="150"
      height="150"
      loading="lazy"
    />
  </a>
  <div class="footer__links">
    <div class="footer__links-sections">
      <h3 class="footer__links-subtitle">ENLACES A PÁGINAS</h3>
      <ul class="footer__links-list">
        <li class="footer__links-item"><a href="#inicio">Inicio</a></li>
        <li class="footer__links-item"><a href="#historia">Historia</a></li>
        <li class="footer__links-item"><a href="#receta">Noticias</a></li>
        <li class="footer__links-item"><a href="#jornadas">Receta</a></li>
        <li class="footer__links-item"><a href="#mataro">Mataro</a></li>
      </ul>
    </div>
    <div class="footer__links-terms">
      <h3 class="footer__links-subtitle">Términos Legales</h3>
      <ul class="footer__links-list">
        <li class="footer__links-item"><a href="#">Aviso Legal</a></li>
        <li class="footer__links-item">
          <a href="#">Política de Cookies</a>
        </li>
        <li class="footer__links-item">
          <a href="#">Política de privacidad</a>
        </li>
      </ul>
    </div>
  </div>
  <p class="footer__copyright">2024 &copy; David Pecharromán López</p>
</footer>
