@use "sass:color";

$marca-primary: #6684be;
$marca-secondary: #db727e;
$marca-tertiary: white;
$marca-secondary-light: color.scale($marca-secondary, $lightness: 40%);

$mqSm: 576px;
$mqMd: 768px;
$mqLg: 992px;
$mqXl: 1200px;
$mqXxl: 1400px;
