@use "sass:color";

$marca-primary: #6684be;
$marca-secondary: #db727e;
$marca-terciary: white;
$marca-primary-light: color.scale($marca-primary, $lightness: 20%);
$marca-secondary-light: color.scale($marca-secondary, $lightness: 40%);
$fondo-transparente: color.change($marca-terciary, $alpha: 0.5);

$mqSm: 576px;
$mqMd: 768px;
$mqLg: 992px;
$mqXl: 1200px;
$mqXxl: 1400px;
